<footer class="footer">
  <small>
    <a href="https://stonelacemetro.bandcamp.com/album/special-boy-right-boy-right-now-rich-in-vitamins-mix-ep">Rich in Vitamins</a>

  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>

    </ul>

    <ul>
      <% if user_signed_in? %>
		<%= link_to "Logout", destroy_user_session_path, method: :delete %>

      <% end %>
    </ul>


  </nav>
</footer>

